<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>
<h1> Temperatura </h1>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
<canvas id="myChart2" style="width:100%;max-width:600px"></canvas>

</body>

<script>

times = [];
temps = [];

times2 = [];
temps2 = [];

function generateData(size, min, max, maxDiff, times, temps) {
    current = (max + min) / 2;

    for (i=1; i<=size; i++) {
        dirChange = Math.random() > 0.5 ? -1 : 1;
        times.push(i * -10);
        temps.unshift(current = current + maxDiff * Math.random() * dirChange);
    }
    times.reverse();
}
generateData(25, 15, 27, 1, times, temps);
generateData(125, 15, 27, 1, times2, temps2);


new Chart("myChart", {
    type: "line",
    data: {
        labels: times,
        datasets: [{
            data: temps,
            borderColor: "green",
            fill: false,
        }],
    },
    options: {},
});

new Chart("myChart2", {
    type: "line",
    data: {
        labels: times2,
        datasets: [{
            data: temps2,
            borderColor: "green",
            fill: false,
        }],
    },
    options: {},
});

</script>
